<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Steroids</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Steroids</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Zucort 16</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Methylprednisolone 16mg</p>
        <p>Pack: 10x10 alu</p>
        <p>MRP: 900.00</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 4</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Methylprednisolone 4 mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 499.00</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 8</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Methylprednisolone 8 mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 536.5</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Dezko 6 / Cortidel 6</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Deflazacort 6 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 890.00</p>
        <p>Speciality:  Anti-Inflammatory and Immunosuppressant.</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Dezko 30 / Cortidel 30</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Deflazacort 30 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 3850.00</p>
        <p>Speciality:  Anti-Inflammatory and Immunosuppressant.</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nanduro 25</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Nandrolone Decanoate 25 mg</p>
        <p>Pack: 1 ml</p>
        <p>MRP: 90.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nanduro 50</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Nandrolone Decanoate 50 mg</p>
        <p>Pack: 2 ml</p>
        <p>MRP: 220.00, 189.50</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
