<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Critical Care</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Critical-Care</li>
    </ul>
  </div>
  <!-- product list starts-->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Easoday 40</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Esomeprazole 40mg Inj</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 160.00, 120.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulcer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Peranex SB 1.0 / Sulzone 1.0</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Cefoperazone 500mg + Sulbactam 500mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 240.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Peranex SB 1.5 / Sulzone 1.5</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Cefoperazone 1gm + Sulbactam 500mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 380.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Penmor 125</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Meropenem 125 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 249.00, 299.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Penmor 250 / Meriva 250</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Meropenem 250 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 650.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Penmor 500 / Meriva 500</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Meropenem 500 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 999.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Penmor 1000 / Meriva 1000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Meropenem 1gm</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 1999.00, 999.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Penmor SB 1.5</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Meropenam 1gm + Sulbactum 500mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 2499.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval 250</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 250mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 25.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval 500</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 500mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 48.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval 1000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 1000mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 59.09</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefaval 2000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 2000mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 114.8</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval SL 375</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 250mg + Sulbactam 125mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 45.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval SL 750</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 500mg + Sulbactam 250mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 80.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval SL 1500</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 1gm + Sulbactum 500mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 110.00, 119.80, 139.50, 140.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval TZ Kid</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 250mg + Tazobactum 31.25mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 60.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefeval TZ 1.125</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftriaxone 1gm + Tazobactum 125mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 119.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Peranex 1000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Cefoperazone 1gm</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 280.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefazid 250</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftazidime 250 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 70.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefazid 1000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftazidime 1gm</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 212.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Cefazid TZ 1.125</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Ceftazidime 1gm + Tazobactam 125 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 350.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pilatus 4.5</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Piperacillin 4gm and Tazobactum 500mg Inj</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 461.00, 481.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Clindor 600</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Clindamycin 600mg</p>
        <p>Pack: 4 ml</p>
        <p>MRP: 248.5</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Trilon 40 / Tenacort 40</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Triamcinolone 40mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 99.00</p>
        <p>Speciality: Corticosteroid</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 40</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Methylprednisolone Acetate 40 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 59.8</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 80</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Methylprednisolone Acetate 80 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 109.00</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 125</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Methylprednisolone Acetate 125 mg</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 325.00</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zucort 1000</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Methylprednisolone Acetate 1 gm</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 1100.00</p>
        <p>Speciality: Antinflammatory (Steroid)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Moskit AB</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Alpha Beta Arteether</p>
        <p>Pack: 3 Amp Tray Pack</p>
        <p>MRP: 95.00 Per amp</p>
        <p>Speciality: Anti Malarial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Moskit AB</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Alpha Beta Arteether</p>
        <p>Pack: Dispo Pack</p>
        <p>MRP: 110.00 per amp</p>
        <p>Speciality: Anti Malarial</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nanduro 25</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Nandrolone Decanoate 25 mg</p>
        <p>Pack: 1 ml</p>
        <p>MRP: 90.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nanduro 50</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Nandrolone Decanoate 50 mg</p>
        <p>Pack: 2 ml</p>
        <p>MRP: 220.00, 189.50</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nervabin 1500</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Methylcobalamin 1500 mcg</p>
        <p>Pack: 2 ml Dispo Pack</p>
        <p>MRP: 49.00</p>
        <p>Speciality: Neurology / Multivitamin & Multimineral</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Nervabin 2500</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Methycobalamin 2500 mcg</p>
        <p>Pack: 2 ml Dispo Pack</p>
        <p>MRP: 65.00</p>
        <p>Speciality: Neurology / Multivitamin & Multimineral</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nervabin Plus</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>
          Composition: Methylcobalamin 1000 mcg + Pyridoxine 100 mg +
          Niacinamide 100 mg + Benzyl Alcohol 2%
        </p>
        <p>Pack: 5*2 ML</p>
        <p>MRP: 39.8</p>
        <p>Speciality: Neurology / Multivitamin & Multimineral</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Zentro / Panval</button>
      <div class="panel">
        <p>Type: Dry Injection</p>
        <p>Composition: Pantoprazole 40mg Inj</p>
        <p>Pack: 1 VIAL</p>
        <p>MRP: 46.8</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulcer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Dicovan Aqua</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Diclofenac Aqueous Base</p>
        <p>Pack: 5x1 ml</p>
        <p>MRP: 15.00</p>
        <p>Speciality: Orthopaedics</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Perigo</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Piroxicam 40 mg</p>
        <p>Pack: 5x2 ml</p>
        <p>MRP: 42.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Irotex</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Iron sucrose 20 mg</p>
        <p>Pack: 5 ml</p>
        <p>MRP: 282.5</p>
        <p>Speciality: Gynaechology / Multivitamin</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto H 500</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Hydroxyprogesterone caproate 500 mg</p>
        <p>Pack: 2 ml Dispo Pack</p>
        <p>MRP: 225.00</p>
        <p>Speciality: Gynaechology / Hormone / Women Care</p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
