<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Dermatology</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Dermatology</li>
    </ul>
  </div>

  <!-- product list starts-->

  <div class="container">
    <div class="row mt-50 mb-50">

      <!-- <button class="accordion">Zucort 16</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Methylprednisolone 16mg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 900.00</p>
          <p>Speciality: Antinflammatory (Steroid)</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Zucort 4</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Methylprednisolone 4 mg.</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 499.00</p>
          <p>Speciality: Antinflammatory (Steroid)</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Zucort 8</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/zucort-8.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Methylprednisolone 8 mg.</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 536.5</p>
          <p>Speciality: Antinflammatory (Steroid)</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Clindor 600</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Liquid Injection</p>
          <p>Composition: Clindamycin 600mg</p>
          <p>Pack: 4 ml</p>
          <p>MRP: 248.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Clindor 300</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/clindor-300.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Clindamycin I.P. 300 mg.</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 2250.00, 2427.00</p>
          <p>Speciality: Antibiotic & Antibacterial / Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Dezko 6 / Cortidel 6</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/dezko-6.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Deflazacort 6 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 890.00</p>
          <p>Speciality:  Anti-Inflammatory and Immunosuppressant.</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Dezko 30 / Cortidel 30</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Deflazacort 30 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 3850.00</p>
          <p>Speciality:  Anti-Inflammatory and Immunosuppressant.</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fexal 120</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fexal-120.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Fexofenadine I.P. 120 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 985.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fexal 180</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Fexofenadine I.P. 180 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1295.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fexal M</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fexal-m.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Fexofenadine HCL 120 mg & Montelukast Sodium 10 mg
            Chewable
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1150.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Finderm 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/finderm-250.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Terbinafine 250 mg.</p>
          <p>Pack: 10*7 BLI</p>
          <p>MRP: 1599.00, 990.00, 2240.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Finderm 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Terbinafine 500 mg.</p>
          <p>Pack: 10*7 BLI</p>
          <p>MRP: 1999.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Polex 25</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Terbinafine 500 mg.</p>
          <p>Pack: 10*15 BLI</p>
          <p>MRP: 448.00</p>
          <p>Speciality: Dermatology/Antihistamine</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fungwon 100 </button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fungwon-100.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Itraconazole 100 mg.</p>
          <p>Pack: 10*10 ALU, 10*1*4</p>
          <p>MRP: 1499.00, 649.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fungwon 200 </button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fungwon-200-cap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Itraconazole 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2999.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion"> Vitracon 100</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/vitracon-100.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Itraconazole 200 mg.</p>
          <p>Pack: 10*1*4</p>
          <p>MRP: 1599.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Vitracon 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/vitracon-200.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Itraconazole 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2999.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fungwon / Vitracon</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Itraconazole 1% w/w</p>
          <p>Pack: 15 GMS</p>
          <p>MRP: 149.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fushiro</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Fusidic Acid I.P. 20 gm</p>
          <p>Pack: 10 GM.</p>
          <p>MRP: 99.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fiazol NC</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Clotrimazole + Neomycin + Clobetasol</p>
          <p>Pack: 15 GM.</p>
          <p>MRP: 99.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fiazol B</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fiazol-b.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Clotrimazole + Beclamethasone</p>
          <p>Pack: 15 GM</p>
          <p>MRP: 99.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Finderm</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/finderm-cream.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Terbinafine Hydrochloride 1% w/w</p>
          <p>Pack: 20 GM</p>
          <p>MRP: 75.00</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Finderm MF</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/finderm-mf.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Terbinafine Hydrochloride 1% w/w + Mometasone Furoate
            0.1% w/w
          </p>
          <p>Pack: 15 GM</p>
          <p>MRP: 84.5</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Floxiva Derma</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/floxiva-derma.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Ofloxacin 0.75%, Ornidazole 2% , Itraconazole &
            clobetasol propionate 0.05%
          </p>
          <p>Pack: 15 GM</p>
          <p>MRP: 79.9</p>
          <p>Speciality: Dermatology/ Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Benclor</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/benclor.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Clotrimazole + Beclamethasone Dipropionate 0.025%
            +
            Neomycin
          </p>
          <p>Pack: 10 GM</p>
          <p>MRP: 84.9</p>
          <p>Speciality: Dermatology / Antifungal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Povinor Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Sucralfate 7% Metronidazole 1% Povidone Iodine
            5%w/w</p>
          <p>Pack: 30 GM</p>
          <p>MRP: 169.00</p>
          <p>Speciality: Dermatology/Antiseptic</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Povinor -S</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/povinor-s.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Povidone Iodine 5%w/w + Sucralfate 7%</p>
          <p>Pack: 15 GM</p>
          <p>MRP: 60.00</p>
          <p>Speciality: Dermatology/Antiseptic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Tacimol</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Tacrolimus 0.03%</p>
          <p>Pack: 10 GM</p>
          <p>MRP: 119.8</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Clindor A</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Clindamycin 1% + Adapalene 0.1%</p>
          <p>Pack: 15 GM</p>
          <p>MRP: 175.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Lulnac</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Luliconazole 1% w/w</p>
          <p>Pack: 15 GM, 20 GM</p>
          <p>MRP: 198.00, 325.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Foskin</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Hydroquinone 2% w/w + Mometasone
            Furoate IP 0.1% w/w +
            Tretioin 0.025% w/w
          </p>
          <p>Pack: 20 GM</p>
          <p>MRP: 139.5</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Mupifine</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Mupirocin 2% w/w</p>
          <p>Pack: 5 GM</p>
          <p>MRP: 99.9</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Kilnit</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/kilnit.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Permithrin cream 5%w/w</p>
          <p>Pack: 30 GM</p>
          <p>MRP: 69.9</p>
          <p>Speciality: Dermatology/Gynaecology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Clobera S</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Clobetasol 0.05% w/w +
            Salicylic Acid 6% w/w</p>
          <p>Pack: 20 GM</p>
          <p>MRP: 68.67</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Clobera GM</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/clobera-gm.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Clobetasol Propionate 0.05%
            w/w, Gentamicin Sulphate 0.1%
            w/w + Miconazole Nitrate 2.00% w/w
          </p>
          <p>Pack: 15 GM</p>
          <p>MRP: 59.99</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Minico /
        Minca</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/minca-cream.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>
            Composition: Clobetasol Propionate 0.05%
            w/w, Neomycin sulphate 0.5% +
            Miconazole Nitrate 2.00% w/w
          </p>
          <p>Pack: 15 GM</p>
          <p>MRP: 55.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Moligro</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Cream</p>
          <p>Composition: Fluticasone 0.5%</p>
          <p>Pack: 10 GM</p>
          <p>MRP: 89.9</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fiazol</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>Composition: Clotrimazole 1% w/w
            Dusting Powder</p>
          <p>Pack: 75 GM</p>
          <p>MRP: 99.9</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Lular
        Lotion</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/lular-lotion.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Lotion</p>
          <p>Composition: Luliconazole lotion
            1% w/w</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 299.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Lular
        Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/lular-soap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soap</p>
          <p>Composition: Luliconazole Soap
            1% w/w</p>
          <p>Pack: 75 GM</p>
          <p>MRP: 174.7</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Lular
        Powder</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/lular-powder.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>Composition: Luliconazole 1%
            w/w Dusting Powder</p>
          <p>Pack: 25 GM</p>
          <p>MRP: 259.6</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Keaton
        ZPTO Shampoo</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Shampoo</p>
          <p>Composition: Ketoconazole
            2%/ Zinc Pyrithione 1%w/v
            Shampoo</p>
          <p>Pack: 100 ML</p>
          <p>MRP: 299.00</p>
          <p>Speciality: Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Keaton
        ZPTO Lotion</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Lotion</p>
          <p>Composition: Ketoconazole
            2%w/v Zinc Pyrithione
            1%w/v Lotion</p>
          <p>Pack: 100 ML</p>
          <p>MRP: 249.00</p>
          <p>Speciality: Dermatology
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Keaton
        Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soap</p>
          <p>Composition:
            Ketoconazole 1 % Soap
          </p>
          <p>Pack: 75 GM</p>
          <p>MRP: 99.00</p>
          <p>Speciality: Dermatology
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Keaton
        Plus Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soap</p>
          <p>Composition:
            Ketoconazole 2% w/w +
            Cetrimide 0.5% w/w
            soap</p>
          <p>Pack: 75 GM</p>
          <p>MRP: 120.00</p>
          <p>Speciality:
            Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Keaton
        Powder</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>Composition:
            Ketoconazole 2 %
            Dusting Powder</p>
          <p>Pack: 100 GM</p>
          <p>MRP: 138.5</p>
          <p>Speciality:
            Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fungwon
        Powder</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/fungwon-powder.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>Composition:
            Itraconazole 1%
            Dusting Powder</p>
          <p>Pack: 50 GM</p>
          <p>MRP: 139.8</p>
          <p>Speciality:
            Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fungwon
        Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soap</p>
          <p>Composition:
            Itraconazole 1%
            Soap</p>
          <p>Pack: 75 GM</p>
          <p>MRP: 179.8</p>
          <p>Speciality:
            Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Finderm
        Powder</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder
          </p>
          <p>Composition:
            Terbinafine 1%
            Dusting Powder
          </p>
          <p>Pack: 75 GM
          </p>
          <p>MRP: 189.75
          </p>
          <p>Speciality:
            Dermatology
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Finderm
        Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soap
          </p>
          <p>
            Composition:
            Terbinafine
            1% Soap</p>
          <p>Pack: 75 GM
          </p>
          <p>MRP: 198.5
          </p>
          <p>Speciality:
            Dermatology
          </p>
          <p>GST: 12%
          </p>
        </div>
      </div> -->

      <button class="accordion">Kliment
        Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/kliment-soap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type:
            Soap</p>
          <p>
            Composition:
            Kojic Acid
            0.75% +
            Vitamin C
            2.5% Soap
          </p>
          <p>Pack: 100
            GM</p>
          <p>MRP:
            110.00</p>
          <p>
            Speciality:
            Dermatology
          </p>
          <p>GST: 12%
          </p>
        </div>
      </div>

      <button class="accordion">Teagan
        / Teca Soap</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/teagan-soap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type:
            Soap</p>
          <p>
            Composition:
            Triclosan
            0.5% +
            Aloe
            Vera 1%
            + Tea
            Tree Oil
            0.25% +
            Vitamin
            E
            Acetate
            0.25% +
            Allantoin
            0.2%
            Soap
          </p>
          <p>Pack:
            75 GM
          </p>
          <p>MRP:
            124.9
          </p>
          <p>
            Speciality:
            Dermatology
          </p>
          <p>GST:
            12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Kilnit</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type:
            Soap,
            Lotion
          </p>
          <p>
            Composition:
            Permithrin
            1% w/w
            &
            Glycerin
            2% w/w
            soap,
            Permithrin
            Lotion
            5%w/w
          </p>
          <p>Pack:
            75 GM,
            50 ML
          </p>
          <p>MRP:
            95.00,
            55</p>
          <p>
            Speciality:
            Dermatology
          </p>
          <p>GST:
            12%
          </p>
        </div>
      </div> -->

      <button class="accordion">Edlyn
        Lotion</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/dermatology/edlyn-lotion.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>
            Type:
            Lotion
          </p>
          <p>
            Composition:
            Calamine
            8%w/v
            +
            Liquid
            Paraffin
            10%w/v
            lotion
          </p>
          <p>
            Pack:
            100
            ML
          </p>
          <p>
            MRP:
            159.8
          </p>
          <p>
            Speciality:
            Dermatology
          </p>
          <p>
            GST:
            12%
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
