<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">
            ANALGESICS / ANTI INFLAMMATORY / MUSCLE RELAXANT / ORTHO
          </h2>
        </div>
      </div>
    </div>
  </section>
  
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>ANALGESICS</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Klofen Plus / Acelift Plus</button>
      <div class="panel">
        <p>Type: Tablet, Suspension</p>
        <p>Composition: Aceclofenac 100 mg + Paracetamol 325 mg.</p>
        <p>Pack: 10*10 BLI, 60 ml</p>
        <p>MRP: 499.00-550.00, 49.5</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen SP / Acelift SP</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Aceclofenac 100 mg + Paracetamol 325 mg +
          Serratiopeptidase 15 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 799.00</p>
        <p>Speciality: Antinflammatory, Fever Reducer & Enzymatic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen MR / Acelift MR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Aceclofenac 100 mg + Paracetamol 325 mg + Chlorzoxazone
          250 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 699.00</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen TH / Acelift TH</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Thiocolchicoside 4 mg + Aceclofenac 100 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1800.00</p>
        <p>Speciality: Antinflammatory & Analgesic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen Pace / Acelift Pace</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Aceclofenac 100mg.+Paracetamol 325 mg.+Thiocolchicoside 4
          mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1980.00</p>
        <p>Speciality: Antinflammatory, Analgesic & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen TC</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Trypsin-Chymotrypsin 50,000 Armour Units +Aceclofenac 100
          mg + Paracetamol 325 mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 1899.00</p>
        <p>Speciality: Antinflammatory & Digestive Enzyme</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Klofen T</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Aceclofenac 100mg.+Tizanidine Hydrochloride 2mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 700.00</p>
        <p>Speciality: Antinflammatory & Digestive Enzyme</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Klofen 200 SR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Aceclofenac 200 Sustained release</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 499.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Anax MR / Dicovan MR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Diclofenac 50 mg + Paracetamol 325 mg + Chlorzoxazone 250
          mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 399.00</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Anax SP / Dicovan SP</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Diclofenac 50mg + Paracetamol 325mg + Serriopeptidase 15
          mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 895.00</p>
        <p>Speciality: Antinflammatory, Fever Reducer & Enzymatic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Anax S / Seria D</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Serratiopeptidase 10 mg + Diclofenac Potassium 50 mg.
        </p>
        <p>Pack: 20*10 ALU</p>
        <p>MRP: 999.00</p>
        <p>Speciality: Antinflammatory & Enzymatic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Anax Pain / Rub Dicovan / Pain Rub</button>
      <div class="panel">
        <p>Type: Gel</p>
        <p>
          Composition: Diclofenac Diethylamine BP 1.16% w/w + Linseed Oil BP
          3.0% w/w + Methyl Salicylate IP 10.0% w/w + Menthol IP 5% w/w + Benzyl
          Alcohol IP 1% w/w
        </p>
        <p>Pack: 30 GM</p>
        <p>MRP: 85.00 - 72.00</p>
        <p>Speciality: Orthopaedics</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Coxitor 90</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etoricoxib I.P. 90 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 850.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Coxitor 120</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etoricoxib I.P. 120 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1199.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Coxitor Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etoricoxib 60 mg. + Paracetamol 325 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 949.00 - 1100.00</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Coxitor MR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etoricoxib 60 mg + Thiocolchicoside 4mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 2199.00</p>
        <p>Speciality: Antinflammatory & Analgesic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nimvale Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Nimesulide 100 mg + Paracetamol 325 mg (Amber & Blue PVC)
        </p>
        <p>Pack: 20*10 BLI</p>
        <p>MRP: 799.00 - 1400.00</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Tramway - P</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Tramadol Hydrochloride IP 37.5 mg + Paracetamol 325 mg
        </p>
        <p>Pack: 20*10 BLI</p>
        <p>MRP: 1191.20</p>
        <p>Speciality: Antinflammatory, Fever Reducer & Enzymatic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Toratin DT</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Ketorolac Tromethamine dispersible tablets 10mg</p>
        <p>Pack: 10x10 alu</p>
        <p>MRP: 360.00 - 598.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Etod 400 ER</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etodolac Prolonged Release 400 mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 1250.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Etod TH</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Etodolac 400 mg. +Thiocolchicoside 4 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1999.00</p>
        <p>Speciality: Antinflammatory & Analgesic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Piritol 100</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Flupirtine Maleate 100 mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 1200.00</p>
        <p>Speciality: Analgesic (Acute and Chronic Pain)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Piritol Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Flupirtine Maleate 100 mg. + Paracetamol 325 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1499.00</p>
        <p>Speciality: Analgesic (Acute and Chronic Pain)</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Paravel 650</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Paracetamol 650 mg</p>
        <p>Pack: 10X15 BLI</p>
        <p>MRP: 450.00</p>
        <p>Speciality: Antinflammatory & Fever Reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Paravel 250</button>
      <div class="panel">
        <p>Type: Suspension</p>
        <p>Composition: Paracetamol Paediatric Oral Suspension IP 250mg</p>
        <p>Pack: 60 ml with carton</p>
        <p>MRP: 39.90</p>
        <p>Speciality: Fever reducer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Drotvin M</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Drotavarine 80 mg + Mefanamic Acid 250mg</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 700.00, 750.00, 850.00</p>
        <p>Speciality: Antispasmodic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Mefsun Plus</button>
      <div class="panel">
        <p>Type: Tablet, Suspension</p>
        <p>
          Composition: Mefanamic Acid 250 mg + Dicyclomine 10 mg, Mefanamic Acid
          50 mg + Paracetamol 125 mg
        </p>
        <p>Pack: 10*20 BLI, 60 ml with carton</p>
        <p>MRP: 700.00, 45.00</p>
        <p>Speciality: Anti Spasmodic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Mefsun Plus Duo</button>
      <div class="panel">
        <p>Type: Suspension</p>
        <p>Composition: Mefanamic Acid 100 mg + Paracetamol 250 mg</p>
        <p>Pack: 60 ml with carton</p>
        <p>MRP: 58.50</p>
        <p>Speciality: Anti Spasmodic</p>
        <p>GST: 12%</p>
      </div>
      <button class="accordion">Perigo</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Piroxicam 20mg (Dispersible Tablets)</p>
        <p>Pack: 20*10 BLI</p>
        <p>MRP: 1400.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Elrectin</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Trypsin 48 mg+ Bromelain 90 mg + Rutoside 100 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1900.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Elrectin D</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Trypsin 48 mg+ Bromelain 90 mg. + Rutoside Trihydrate 100
          mg.+ Diclofenac Sodium 50 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1540.00 - 1599.00</p>
        <p>Speciality: Antinflammatory</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Diaflin MSM / Ostefix MSM</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Diacerein 50 mg + Methylsulphonylmethane 250 mg +
          Glucosamine 750 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1599.00</p>
        <p>Speciality: Osteoarthritis & Joint pain</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Dujoint</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>Composition: Undenatured Type II Collagen Peptide</p>
        <p>Pack: 10*1*10</p>
        <p>MRP: 6000.00</p>
        <p>Speciality: Orthopaedics</p>
        <p>GST: 18%</p>
      </div>

      <button class="accordion">Dujoint Plus</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Mucopolysacchrides + Roship extract + Collagen peptide
          Type 1, 2, 3, 4, 5 + Chrondoiton + Hyaluronic
        </p>
        <p>Pack: 10*1*10</p>
        <p>MRP: 3000.00</p>
        <p>Speciality: Orthopaedics</p>
        <p>GST: 18%</p>
      </div>

      <button class="accordion">Dujoint Go</button>
      <div class="panel">
        <p>Type: Sachet</p>
        <p>Composition: Collegen Peptide + Glucosamine + Vitamin C</p>
        <p>Pack: 10 gm * 20 Sachet</p>
        <p>MRP: 2200.00</p>
        <p>Speciality: Osteoarthritis & Joint pain</p>
        <p>GST: 18%</p>
      </div>
      <button class="accordion">Roselia Link</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Rosehip extract 250 mg + Collagen Peptide Type 40 mg+
          Sodium Hyaluronate 30 mg + Vitamin C 35 mg + Chondroitin Sulphate 200
          mg
        </p>
        <p>Pack: 10*1*10</p>
        <p>MRP: 3250.00</p>
        <p>Speciality: Osteoarthritis & Joint pain</p>
        <p>GST: 18%</p>
      </div>
    </div>
  </div>
  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
