<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">
            Gastroenterology / H. Pylori Kits / Prokinetics
          </h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Gastroenterology</li>
    </ul>
  </div>
  <!-- product list starts-->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Rabaval 20</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Rabeprazole Sodium I.P. 20 mg.</p>
        <p>Pack: 20*10 ALU</p>
        <p>MRP: 1100.00</p>
        <p>Speciality: Antiulcer (Antacid) and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Rabaval D</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Rabeprazole 20mg + Sodium & Domperidone Enteric Coated 10
          mg.
        </p>
        <p>Pack: 20*10 ALU</p>
        <p>MRP: 590.00, 650.00, 700.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Rabaval DSR</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>
          Composition: Rabeprazole Sodium (EC) 20 mg + Domperidone 30 (SR) 30
          mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 899 .00, 1350.00, 1150.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Rabaval L</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>
          Composition: Enteric Coated Rabeprazole Sodium 20 mg & Sustainted
          Release Levosulpiride 75 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1790.00</p>
        <p>Speciality: Antiulcer (Antacid), Antipsycotic and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Rabaval -IT</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>
          Composition: Rabeprazole Sodium 20 mg + Itopride 150 mg sustained
          release capsules
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1499.00</p>
        <p>Speciality: Antiulcer (Antacid), Antipsycotic and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zentro 40 / Panval 40</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Pantoprazole I.P. 40 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 650.00</p>
        <p>Speciality: Antiulcer (Antacid) and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zentro D / Panval D</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Pantoprazole 40 mg + Domperidone 10 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 750.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zentro DSR / Panval DSR</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>
          Composition: Pantoprazole (EC) 40 mg + Domperidome (SR) I.P. 30 mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 999.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zentro LS / Panval L</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>
          Composition: Pantoprazole Sodium (EC) 40 mg + Levosulpiride (SR) 75
          mg.
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1999.00</p>
        <p>Speciality: Antiulcer (Antacid), Antipsycotic and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Zentro HP kit</button>
      <div class="panel">
        <p>Type: Kit</p>
        <p>
          Composition: Clarithromycin 500 mg (2 Tablets) + Pantaprazole 40 mg (2
          Tablets) + Amoxicillin 750 mg (2 tablets)
        </p>
        <p>Pack: 10 Kits</p>
        <p>MRP: 1549.00</p>
        <p>Speciality: H. Pylori Kit</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Easoday HP Kit</button>
      <div class="panel">
        <p>Type: Kit</p>
        <p>
          Composition: Clarithromycin 500 mg (2 Tablets) + Esomeprazole 40 mg (2
          Tablets) + Amoxicillin 750 mg (2 tablets)
        </p>
        <p>Pack: 10 Kits</p>
        <p>MRP: 1985.00</p>
        <p>Speciality: H. Pylori Kit</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Easoday 40</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Esomeprazole I.P. 40 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 745.00</p>
        <p>Speciality: Antiulcer (Antacid) and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Easoday DSR</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Esomeprazole 40mg + Domperidone (SR) 30 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 950.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Easoday L</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Esomeprazole 40 mg + Levosulpiride 75 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 2100.00</p>
        <p>Speciality: Antiulcer (Antacid), Antipsycotic and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pankreolet</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Pancreatin 175 mg + Activated Dimethicone 50 mg +
          Activated Charcoal 50 mg
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 955.00</p>
        <p>Speciality: Antiulcer (Antacid), Antipsycotic and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Ondival 4 / Emivon 4</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Ondansetron 4 mg Orally Disintegrating I.P.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 485.00</p>
        <p>Speciality: Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Ortazol 20</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Omeprazole I.P. 20 mg.</p>
        <p>Pack: 15*10 STRIP</p>
        <p>MRP: 396.00</p>
        <p>Speciality: Antiulcer (Antacid) and GERD</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Ortazol D</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Omeprazole 20 mg + Domperidone 10 mg.</p>
        <p>Pack: 15*10 STRIP</p>
        <p>MRP: 697.00</p>
        <p>Speciality: Antiulcer (Antacid), GERD & Antiemetic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Gavicid</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>
          Composition:Oxetacaine 10 mg +Dried Aluminium Hydroxide Gel 0.291 mg +
          Magnesium Hydroxide 98 mg.
        </p>
        <p>Pack: 170 ML</p>
        <p>MRP: 119.90, 109.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulcer</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Limbion</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>
          Composition: Thiamine Hcl. 10mg.+Pyridoxine Hcl. 3mg.+ Cyanocobalamine
          15mcg.+D Panthenol 5mg.+ L Lysine Hcl. 150 mg. Syrup
        </p>
        <p>Pack: 200 ML. With Carton</p>
        <p>MRP: 85.00</p>
        <p>Speciality: Multivitamin & Multimineral / General Health</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Exitor L</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Lactulose Solution</p>
        <p>Pack: 200 ml with carton</p>
        <p>MRP: 234.2</p>
        <p>Speciality: Constipation / Stool Softener</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Exitor Plus</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>
          Composition: Liquid Paraffin1.25 ml + Milk of Magnesia 3.75 ml +
          Sodium Picosulfate 3.33 mg.
        </p>
        <p>Pack: 170 ML</p>
        <p>MRP: 115.00</p>
        <p>Speciality: Constipation / Stool Softener</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Rifexil 100</button>
      <div class="panel">
        <p>Type: Suspension</p>
        <p>Composition: Rifaximin 100 mg</p>
        <p>Pack: 60 ml with carton</p>
        <p>MRP: 198.7</p>
        <p>Speciality: Anti Diarrheal / PPI</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Solocid O</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Sucralfate 1gm+ Oxetacaine 20 mg.</p>
        <p>Pack: 100 ML, 200 ML</p>
        <p>MRP: 119.8, 249.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulce</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Solocid</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Sucralfate 1000 mg.</p>
        <p>Pack: 100 ML, 200 ML</p>
        <p>MRP: 105.00, 159.6</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulce</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Peptol</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Ranitidine 75 mg.</p>
        <p>Pack: 100 ML</p>
        <p>MRP: 75.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulce</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Allercid</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Magaldrate 400 mg + Simethacone 20 mg.</p>
        <p>Pack: 170 ML.</p>
        <p>MRP: 74.50, 99.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulce</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Allercid Plus</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>
          Composition: Magaldrate ,Simethicone & Oxetacaine Oral Suspension
          (480mg+20mg+10mg)
        </p>
        <p>Pack: 170 ML</p>
        <p>MRP: 125.00</p>
        <p>Speciality: PPI / Antacid / GERD / Antiulce</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Bellitics</button>
      <div class="panel">
        <p>Type: Capsule, Syrup</p>
        <p>Composition: Pre & Probiotics With L- Glutamine</p>
        <p>Pack: 10*10 ALU, 10*1 GM</p>
        <p>MRP: 999.00, 240.00</p>
        <p>
          Speciality: Antiulcer (Antacid), Antipsycotic and GERD, Enzymatic and
          General Health
        </p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
