<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widgetheading">Wonne International</h5>
          <p>The Secret of Getting Ahead is Getting Started.</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widgetheading">Quick Links</h5>
          <ul class="link-list">
            <li>
              <a class="waves-effect waves-dark" routerLink="About"
                >About us</a
              >
            </li>
            <li>
              <a class="waves-effect waves-dark" routerLink="Products" 
                >Products</a
              >
            </li>
            <li>
              <a class="waves-effect waves-dark"  routerLink="Contact" 
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widgetheading">Social Media</h5>
          <ul class="link-list">
            <li>
              <a
                class="waves-effect waves-dark"
                href="https://www.facebook.com/"
                >Facebook</a
              >
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://twitter.com"
                >Twitter</a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="https://www.instagram.com/"
                >Instagram</a
              >
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://pinterest.com/"
                >pinterest</a
              >
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://google.com/"
                >Google+</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widgetheading">Our Contact</h5>
          <address>
            <strong> Company Inc</strong><br />
            175, Ground Floor, Ind. Area<br />
            Pin-134113 Phase 1, Panchkula (HR).
          </address>
          <p>
            <i class="icon-phone"></i>Tel : 0172 5048264 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
            <p class="text-center">
              Design & Developed by Digimiles. All rights reserved. <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
