<div id="wrapper" class="home-page">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">About Us</h2>
        </div>
      </div>
    </div>
  </section>
  <section>

    <div id="breadcrumb">
      <ul>
        <li>
          <a routerLink="">HOME</a>
        </li>
        <li>ABOUT US</li>
      </ul>
    </div>

  </section>
  <section id="content">
    <section class="section-padding">
      <div class="container">
        <div class="row showcase-section">
          <div class="col-md-6 col-sm-12">
            <img src="assets/img/dev1.png" alt="showcase image" />
          </div>
          <div class="col-md-6">
            <div class="about-text">
              <h3 class="mt-0"><span>ABOUT WONNE INTERNATIONAL</span></h3>
              <p class="justify ">
                Wonne, International has been built product by product on the foundation of care & concern. Caring for
                Life and health has always been and continues to remain, our guiding purpose.

              </p>
              <p class="justify ">

                Our operations and presence has expanded to 7+ countries providing over 600 products across various
                therapeutic categories in 15+ dosage forms. To make healthcare more affordable, and improving the
                industry standards while also deepening our presence in all the states of India.
              </p>
              <p class="justify ">
                At Wonne, we constantly work towards ensuring access to high quality and affordable medicines to support
                patients in need. Which is why, we have been trusted industry experts, professionals and patients
                across country for the last 2 decades.

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container ">
      <div class="about">
        <div class="row about-section">
          <div class="col-md-3">
            <!-- Heading and para -->
            <div class="block-heading-two">
              <h3><span>Our promise</span></h3>
            </div>
            <p>
              The way of Wonne is to work for future where the most remote and economically weaker parts of the world
              have access to medication that will help them combat illnesses.
            </p>
          </div>

          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Vision</span></h3>

              <p class="justify">
                We provide complete promotional materials for promotion like:
              </p>
              <div>
                <ul>
                  <li> <i class="fa fa-check-circle"></i> Excellence </li>
                  <li><i class="fa fa-check-circle"></i> Responsibility</li>
                </ul>
              </div>
            </div>
            <p class="">
              Excellence in the quality of products we produce for our clients and patients all around the world and
              being responsible for improving the industry standards while making pharmaceutical drugs and healthcare
              facilities available and cheaper for everyone.
            </p>
          </div>
          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Goal</span></h3>
            </div>
            <p>
              To create new standards of quality and uphold them .We aspire to become a globally acclaimed
              pharmaceutical company through continuous innovation and improvement in the current market scenarios while
              making drugs more cost efficient for the customer
            </p>
          </div>
          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Values</span></h3>
            </div>
            <p>
              We offer high quality products that exceed our customer expectations. We use a qualitative approach in
              terms of Innovative Medical Products being manufactured at state-of-the-art units, under absolute
              deserving WHO- GMP Certification guaranteeing Safe & Sure Recovery for Everybody and keep quality as a
              center value to serve our customers.
            </p>
          </div>
        </div>
      </div>

      <!-- Our Team starts -->
      <!-- <div class="container">
        <div class="row">
          <div class="block-heading-two">
            <h3><span>Our Team</span></h3>
          </div>


          <div class="team-six">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team1.jpg"
                    alt=""
                  />
                  <h4>Johne Doe</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team2.jpg"
                    alt=""
                  />
                  <h4>Jennifer</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team3.jpg"
                    alt=""
                  />
                  <h4>Christean</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team4.jpg"
                    alt=""
                  />
                  <h4>Kerinele rase</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
