<div id="wrapper" class="home-page">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">About Us</h2>
        </div>
      </div>
    </div> 
  </section>
  <section>
 
      <div id="breadcrumb">
        <ul>
          <li >
            <a routerLink="">HOME</a></li>
          <li>ABOUT US</li>
        </ul>
      </div>
   
  </section>
  <section id="content">
    <section class="section-padding">
      <div class="container">
        <div class="row showcase-section">
          <div class="col-md-6 col-sm-12">
            <img src="assets/img/dev1.png" alt="showcase image" />
          </div>
          <div class="col-md-6">
            <div class="about-text">
              <h3 class="mt-0"><span>Our Company</span></h3>
              <p class="justify ">
                Wonne, as an organization has been built product by product on
                the foundation of care & concern. Caring for Life and health has
                always been and continues to remain, our guiding purpose. Driven
                by the same purpose, we have extended our presence to 7+
                countries providing over 600 products across various therapeutic
                categories in 15+ dosage forms. To make healthcare more
                affordable, we are deepening our presence in all the states of
                India.
              </p>
              <p class="justify ">
                At Wonne, we constantly work towards ensuring access to high
                quality and affordable medicines to support patients in need.
                Which is why, we have been trusted by health care professionals
                and patients across country for the last 2 decades.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container ">
      <div class="about">
        <div class="row about-section">
          <div class="col-md-3">
            <!-- Heading and para -->
            <div class="block-heading-two">
              <h3><span>Our promise</span></h3>
            </div>
            <p>
              We are here for the people we serve in their pursuit of healthy
              lives. This has always been the way of WONNE for years
              know—passionately and thoughtfully translating science into
              lasting contributions to health. Our products encircle life, from
              newborns to aging adults, from nutrition through medical care and
              pharmaceutical therapy. Caring is central to the work we do and
              defines our responsibility to those we serve.
            </p>
          </div>

          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Vision</span></h3>
            </div>
            <p>
              We aim to be a global healthcare organization and to be recognized
              as domestic and internationally integrated pharmaceutical company
              through Innovation, Quality and Competence. To become a quality
              and technology based top-notch pharmaceutical company by assuring
              high quality standards. We want best quality medicines and drugs
              at the most affordable prices available to all.
            </p>
          </div>
          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Goal</span></h3>
            </div>
            <p>
              To uphold the highest standard of integrity and transparency in
              our Business. We aspire To become a globally acclaimed
              pharmaceutical company through innovation and introduction of wide
              portfolio of products. We continue to work hard on exploring new
              and advanced products with improved Quality in order to meet the
              enhanced and changing needs of customers.
            </p>
          </div>
          <div class="col-md-3">
            <div class="block-heading-two">
              <h3><span>Our Values</span></h3>
            </div>
            <p>
              We offer high quality products that exceed our customer
              expectations. We use qualitative approach in terms of Innovative
              Medical Products being manufactured at state of the art units,
              under absolute deserving WHO- GMP Certification guaranteeing Safe
              & Sure Recovery for Everybody. Keeping quality as a measuring unit
              of performance, our entire organization is designed to facilitate
              highest quality measures and maintain quality controls at all
              times.
            </p>
          </div>
        </div>
      </div>

      <!-- Our Team starts -->
      <!-- <div class="container">
        <div class="row">
          <div class="block-heading-two">
            <h3><span>Our Team</span></h3>
          </div>


          <div class="team-six">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team1.jpg"
                    alt=""
                  />
                  <h4>Johne Doe</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team2.jpg"
                    alt=""
                  />
                  <h4>Jennifer</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team3.jpg"
                    alt=""
                  />
                  <h4>Christean</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member">
                  <img
                    class="img-responsive"
                    src="assets/img/team4.jpg"
                    alt=""
                  />
                  <h4>Kerinele rase</h4>
                  <span class="deg">Master</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
