<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Neurology / Psychiatry</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Neurology</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">

      <button class="accordion">Cerbrin DM/Tamarin D</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/tamarin-d.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cinnarizine And Domperidone (20mg+15mg)</p>
          <p>Pack: 20x10 BLI</p>
          <p>MRP: 479.00</p>
          <p>Speciality: Antihistamine & Antiemetic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Duogab</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/duogab.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Gabapentin 300 mg + Mecobalamin 500 mcg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1195.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Duogab NT</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/duogab-nt-tablet.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Gabapentin 400 mg + Nortriptyline 10 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1999.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Letiram 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Levetiracetam I.P. 500 mg</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 1218.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Tycolin 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Citicoline I.P. 500 mg.</p>
          <p>Pack: 10*10</p>
          <p>MRP: 4999.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Tycolin Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/tycolin-plus.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Citicoline 500 mg + Piracetam 800 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 5499.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Ucitam 400</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Piracetam 400 mg.</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 650.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Ucitam 800</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Piracetam 800 mg.</p>
          <p>Pack: 10*15 BLI</p>
          <p>MRP: 1490.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Ucitam</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Piracetam 500 mg.</p>
          <p>Pack: 100 ML. With Carton</p>
          <p>MRP: 250.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Rylica</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/rylica.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Mecobalamin 1500mcg + Pregabalin (SR) 75mg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1450</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Rylica NT</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/rylica-nt.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Nortriptyline 10 mg + Pregabalin 75 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2100.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Rylica Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/rylica-plus.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Methycobalamin 1500 + Nortriptyline HCI 10 mg Pregabalin
            75 mg.
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1450.00, 2499.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Rylica</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/rylica.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Mecobalamin 750 mcg + Pregabalin I.P. 75 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1450.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Lectil 8</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Betahistine I.P. 8 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 499.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Lectil 16</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/lectil-16.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Betahistine I.P. 16mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 899.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Lectil 24</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Betahistine Hydrochloride IP 24mg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1199.00</p>
          <p>Speciality: Neurology/ Pscychology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Nervabin</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>
            Composition: Methylcobalamin 1500 mcg, Alpha Lipoic Acid 100
            gm,Pyridoxine HCI 3 gm,Folic Acid 1.5 gm.
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1350.00</p>
          <p>Speciality: Neurology / Multivitamin & Multimineral</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Nervabin Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>
            Composition: Methylcobalamin, Alpha lipoic Acid, Biotin, pyridoxine
            Hcl & Folic Acid Capsules (1500mcg+200mcg+30mcg+3mg+1.5mg)
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1450.00, 1100.00</p>
          <p>Speciality: Neurology / Multivitamin & Multimineral</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Nervabin D</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/neurology/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Methylcobalamin 1500 mcg, Alpha Lipoic Acid 100
            mg,Pyridoxine HCI 3 mg,Folic Acid 1.5 mg & Vitamin D3 1000 I.U.
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1350</p>
          <p>Speciality: Neurology/ Vitamins / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
