<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Gynaecology / Women Care</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Gynaecology</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Famila</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Medroxyprogesterone 10mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 590.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Norgyn 5</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Norethisterone I.P. 5 mg.</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 560.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Imisoft</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Clindamycin phosphate 100 mg + Clotrimazole Vaginal 100
          mg.
        </p>
        <p>Pack: 10*7</p>
        <p>MRP: 2298.00</p>
        <p>Speciality: Women Care / Antifungal</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Imisoft Plus</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Clindamycin phosphate 100 mg + Clotrimazole Vaginal 100
          mg. + Tinidazole 100 mg
        </p>
        <p>Pack: 10*7</p>
        <p>MRP: 2298.00</p>
        <p>Speciality: Women Care / Antifungal</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Folvida / Folvidol</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Methylcobalamin1500mcg+Folic Acid5mg+Pyridoxine
          Hydrochloride 1.5mg+DHA 10% w/w
        </p>
        <p>Pack: 10*10</p>
        <p>MRP: 1200.00</p>
        <p>
          Speciality: Women Care / Multivitamin & Multimineral / General Health
        </p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto 200 SR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Natural Micronised Progesterone (SR) 200 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 3200.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto 300 SR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Natural Micronised Progesterone (SR) 300 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 4250.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto 400 SR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Natural Micronised Progesterone (SR) 400 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 5800.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto 100</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>Composition: Natural Micronised Progesterone 100 mg</p>
        <p>Pack: 10*1*10</p>
        <p>MRP: 1600.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto 200</button>
      <div class="panel">
        <p>Type: Soft Gel Cap, Liquid Injection</p>
        <p>Composition: Natural Micronised Progesterone 200 mg.</p>
        <p>Pack: 10*1*10, 2 ml Dispo Pack</p>
        <p>MRP: 2900.00, 224.5</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Pressto H 500</button>
      <div class="panel">
        <p>Type: Liquid Injection</p>
        <p>Composition: Hydroxyprogesterone caproate 500 mg</p>
        <p>Pack: 2 ml Dispo Pack</p>
        <p>MRP: 225.00</p>
        <p>Speciality: Gynaecology / Women Care / Hormone</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Vomifem / Dior Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Doxylamine Succinate 10 mg & Pyridoxine Hydrochloride 10
          mg & Folic Acid 2.5 mg.
        </p>
        <p>Pack: 10*10</p>
        <p>MRP: 499.00</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Vomifem Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Doxylamine Succinate 20 mg & Pyridoxine Hydrochloride 20
          mg & Folic Acid 5 mg.
        </p>
        <p>Pack: 10*10</p>
        <p>MRP: 998.9</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fas-V-Kit / FAS Win</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Combikit of 1 Tab Fluconazole 150 mg + 1 Tab Azithromycin
          1 gm + 2 Tabs Secnidazole 1 gm
        </p>
        <p>Pack: 10 Kits</p>
        <p>MRP: 1000.00</p>
        <p>Speciality: Gynaecology / Women Care / Antibiotic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nexar 500</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Tranexamic Acid I.P. 500 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 2100.00</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nexar MF</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Mefenamic 250mg+ Tranexamic 500 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 2250.00</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Nexar ET</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Tranexamic Acid 500 mg Ethamsylate 250 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1999.00</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Natum Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: L-Methyl+MCB+Pyridoxil 5 Tablet</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1399.00</p>
        <p>Speciality: Gynaecology / Women Care</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Drotvin M</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Drotavarine 80 mg + Mefanamic Acid 250mg</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 700.00, 750.00, 850.00</p>
        <p>Speciality: Antispasmodic</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Furadin 100 SR</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Nitrofurantoin (SR) 100 mg.</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 790.00</p>
        <p>
          Speciality: Antibiotic & Antibacterial(UTI, Bladder & Kidney
          Infections)
        </p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Bravura 5G / Bravuron 5G</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Omega 3-Fatty Acid, Green Tea Extract, Ginkgo Biloba,
          Ginseng, Grape seed Extract, Antioxidants, Vitamins & Minerals (DRUG)
        </p>
        <p>Pack: 10*1*10</p>
        <p>MRP: 1990.00</p>
        <p>Speciality: Multivitamin & Multimineral / General Health</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Qonzy Forte</button>
      <div class="panel">
        <p>Type: Soft Gel Cap</p>
        <p>
          Composition: Coenzyme Q10 100 mg,Methylcobalamin 1500 mcg, +
          L-Carntine,L-Tartrate 50 mg + L-Arginere 100 mg + Lycopene 6 % 4000 mg
          + Selenium Dioxide 100 mg + Omega 3 Fatty Acid 150 mg.
        </p>
        <p>Pack: 3*10</p>
        <p>MRP: 1200.00</p>
        <p>
          Speciality: Cardiovascular / Multivitamin & Multimineral / General
          Health
        </p>
        <p>GST: 18%</p>
      </div>

      <button class="accordion">Calmax</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Calcium Citrate 1000 mg Magnesium Hydroxide 100 mg, Zinc
          4 mg & Vitamin D3 200 I.U.
        </p>
        <p>Pack: 10*15 BLI (Milky)</p>
        <p>MRP: 999.00</p>
        <p>Speciality: Calcium / Vitamin</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Kalci Forte / Bomcal</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Calcium carbonate 1250 mg, elemental calcium 500 mg,
          vitamin D3 250 IU.
        </p>
        <p>Pack: 10*15 BLI (Silver)</p>
        <p>MRP: 799.00, 890.00</p>
        <p>Speciality: Calcium / Vitamin</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fervin</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Ferrous Ascorbate 30 mg + Folic Acid 550 mg.</p>
        <p>Pack: 150 ML</p>
        <p>MRP: 125.00, 165.00</p>
        <p>Speciality: Multivitamin & Multimineral / General Health</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fervin XT</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Ferrous Ascorbate + Folic Acid + Zinc</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1250.00</p>
        <p>Speciality: Multivitamin & Multimineral / General Health</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fervin XT Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Ferrous Ascorbate, Folic Acid, Methylcobalamin & Zinc
          (100+1.5+1500+22.5mg)
        </p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1899.00</p>
        <p>Speciality: Neurology/ Vitamins / General Health</p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>

  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
