<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Contact Us</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a routerLink="">HOME</a></li>
      <li><a (click)="changeRouteTo(['/', 'Contact','About'])">ABOUT US</a></li>
      <li><a (click)="changeRouteTo(['/', 'Contact','Products'])">Products</a></li>
      <li>Contact</li>
    </ul>
  </div>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-logo">
            <h3 >Get in Touch</h3>
            <p>
              We are a growing pharmaceutical company, committed to increase
              access to high-quality healthcare by developing, producing and
              marketing affordable generic drugs in Domestic as well as
              International Markets. We are dedicated in meeting the specialized
              pharmaceutical needs of our clients through innovations in
              pharmaceutical care and delivery, distinctive expertise,
              extraordinary service, and a commitment to the well-being of every
              individual whose life is impacted by our services. We have a
              strong experienced back office staff which provides all kind of
              information related to products.
            </p>
            <p>
              We’re here to help and answer any question you might have. We look
              forward to hear from you.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-40 mb-50">
        <div class="col-md-4">
          <div class="about-logo">
            <h3>Admin Office</h3>

            <p>175, Ground Floor, Ind. Area,</p>

            <p>Phase 1, Panchkula (HR) 134113</p>

            <p>TEL: 0172 5048264</p>

            <p>CELL: +91 9888909264</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-logo">
            <h3>Branch Office</h3>

            <p>7, Chandu Studio Compound,</p>

            <p>Santacruz (E), Mumbai 400 055</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="about-logo">
            <h3>Overseas Office</h3>

            <p>Ernst Health Inc.</p>

            <p>783, De Koppele,</p>

            <p>Eindhoven, Netherlands 56 32</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
