<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Diabetology</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Diabetology</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Glanil M1</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimepiride 1 mg+Metformin Hydrochloride Prolonged
          Release I.P. 500 mg.
        </p>
        <p>Pack: 10x10 BLI</p>
        <p>MRP: 650.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil M2</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimepiride 2 mg+Metformin Hydrochloride (ER) 500 mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 750.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil M1 Extra</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimepiride 1 mg Metformin Hydrochloride Prolonged
          Release 1000 Mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 1100.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil M2 Extra</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimipride 2 mg Metformin Hydrochloride Prolonged Release
          I.P. 1000 Mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 1200.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil PM1</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimepiride 1 mg + Pioglitazone 15 mg Metformin
          Hydrochloride (ER) 500 mg.
        </p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 699.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil PM2</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimipride 2 mg+Metformin 500 mg + Pioglitazone 15 mg.
        </p>
        <p>Pack: 10x10 BLI</p>
        <p>MRP: 1250.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil MV1</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimipride 1 mg + Metformin 500 mg + Voglibose 0.3 mg.
        </p>
        <p>Pack: 10x10 BLI</p>
        <p>MRP: 1099.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glanil MV2</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>
          Composition: Glimipride 2 mg + Voglibose 0.3 mg Metformin
          Hydrochloride (SR) 500 mg.
        </p>
        <p>Pack: 10x10 BLI</p>
        <p>MRP: 1199.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Vildos 50</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Vildagliptin 50 mg</p>
        <p>Pack: 10x10 ALU</p>
        <p>MRP: 1299.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Vildos M</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Metformin HCL & Vildagliptin (500mg+50mg)</p>
        <p>Pack: 10x15 ALU</p>
        <p>MRP: 2100.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glytin 20</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Teneligliptin 20mg</p>
        <p>Pack: 10x10 ALU</p>
        <p>MRP: 1100.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Glytin M</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Teneligliptin 20mg + Metformin 500 SR</p>
        <p>Pack: 10x10 ALU</p>
        <p>MRP: 1200.00</p>
        <p>Speciality: Diabetes</p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>

  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
