<div id="wrapper" class="home-page">
  <div id="breadcrumb" class="display">
    <ul>
      <li>
        <a routerLink="">HOME</a>
      </li>
      <li>Wonne-Global</li>
    </ul>
  </div>
  <div id="main-slider" class="flexslider">
    <div id="main-slider" class="flexslider">
      <div class="slides">
        <img src="assets/img/home/banner.jpg" alt="" />
        <div class="flex-caption">
          <h3>Wonne Global</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- end slider -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <h2 class="mt-50"> PHARMACEUTICAL FRANCHISE</h2>
            <p class="justify">
              Wonne International is a leading name in pharmaceutical sector. With products, that are trusted and well
              acknowledged name in the pharma franchise business. We bring our high-quality products for people. We
              nurture success by promoting collaboration, participation and trust within an environment of mutual
              respect and hence are always looking for individuals to collaborate with as our distributers.
            </p>
          </div>
        </div>

        <div class="col-md-12">
          <div>
            <h2 class="mt-50"> MAKING THIRD PARTY MANUFACTURING EASY FOR YOU </h2>
            <p class="justify">
              Our experience and expertise in Third Party Manufacturing has won us an immense reputation in
              pharmaceutical sector across the country as well as helped us maintain a thoroughly satisfied clientele
              base with our services.
            </p>
            <p class="justify">

              The products we offer are up to the peak standards since companies associated with us as our clients are
              some of the leading names in the industry.
            </p>
            <p class="justify">
              <b>
                We offer a complete Pharmaceutical Contract Manufacturing service, which includes product formulation,
                designing, marketing and distribution support.
              </b>
            </p>
            <p class="justify">

              Apart from manufacturing generic medicines in third party manufacturing, we produce a variety sensitive
              products like Cardio-vascular, Diabetic medicines, higher Antibiotics (Clavulanic preparations).
              The entire team of Wonne will be at your disposal supporting and resolving any of your queries at hand.
            </p>
          </div>
        </div>




        <div class="col-md-12 mb-50">
          <div>
            <h3>PROMOTIONAL EFFORTS FOR THE SUCESSIONS TO COME</h3>
            <p class="justify">
              We provide complete promotional materials for promotion like :-
            </p>
          </div>
          <div class="col-md-6">
            <ul>
              <li> <i class="fa fa-check-circle"></i>Visual aid (Folder)</li>
              <li><i class="fa fa-check-circle"></i>Product glossary</li>
              <li><i class="fa fa-check-circle"></i>LBLs (Leave behind leaflets)</li>
              <li><i class="fa fa-check-circle"></i>Sample catch covers</li>
              <li><i class="fa fa-check-circle"></i>Reminder-cum-thank you cards</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>
                <i class="fa fa-check-circle"></i>Routine gifts for doctors with the brand name of pharma
                franchise company
              </li>
              <li><i class="fa fa-check-circle"></i>MR bag</li>
              <li><i class="fa fa-check-circle"></i>Order books</li>
              <li><i class="fa fa-check-circle"></i>Prescription pads</li>
              <li><i class="fa fa-check-circle"></i>Special gifts made around festivals</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
