<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Antimalarial</h2>
        </div>
      </div>
    </div>
  </section>

  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Antimalarial</li>
    </ul>
  </div>

  <div class="container">
    <div class="row mt-50 mb-50">

      <button class="accordion">Artin</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Artemether 80 mg + Lumefantrine 480 mg</p>
          <p>Pack: 10*1*6 ALU</p>
          <p>MRP: 1499.00</p>
          <p>Speciality: Antimalarial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Artin 60</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Injection</p>
          <p>Composition: Artemether 60 mg</p>
          <p>Pack: 1 Vial</p>
          <p>MRP: 198.5</p>
          <p>Speciality: Antimalarial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Artin 120</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Injection</p>
          <p>Composition: Artemether 120 mg</p>
          <p>Pack: 1 Vial</p>
          <p>MRP: 298.5</p>
          <p>Speciality: Antimalarial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moskit AB</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Liquid Injection</p>
          <p>Composition: Alpha Beta Arteether</p>
          <p>Pack: 3 Amp Tray Pack, Dispo Pack</p>
          <p>MRP: 95.00 Per amp, 110.00 per amp</p>
          <p>Speciality: Antimalarial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">C-Guan</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Proguanil hydrochloride</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 700.00</p>
          <p>Speciality: Antimalarial</p>
          <p>GST: 12%</p>
        </div>
      </div>

    </div>
  </div>
  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
