<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">
            Anti Allergics / Anti-Cold Cough / Antihistaminic's
          </h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a routerLink="">HOME</a>
      </li>
      <li>
        <a (click)="changeRouteTo(['/', 'Products', 'Allergics', 'About'])"
          >Products</a
        >
      </li>
      <li>Anti-Allergics</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Abitol 100</button>
      <div class="panel">
        <div class="col-md-6">
          <img
            src="../../../assets/img/products/anti-allergics/abitol-100.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Acebrophylline 100 mg</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 1100.00</p>
          <p>Speciality: Bronchodilator</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Abitol 200 SR</button>
      <div class="panel">
        <div class="col-md-6">
          <img
            src="../../../assets/img/products/anti-allergics/abitol-200-sr.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Acebrophylline SR 200 mg</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 1985.00</p>
          <p>Speciality: Bronchodilator</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Abitol M SR</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/products" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Acebrophylline 200 SR + Montelukast 10 mg bilayered
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1790.00</p>
          <p>Speciality: Bronchodilator</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Doxol 400</button>
      <div class="panel">
        <div class="col-md-6">
          <img
            src="../../../assets/img/products/anti-allergics/doxol-400.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Doxofylline 400 mg IP</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 850.00</p>
          <p>Speciality: Bronchodilator & Anti-asthma</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Doxol M</button>
      <div class="panel">
        <div class="col-md-6">
          <img
            src="../../../assets/img/products/anti-allergics/doxol-m.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Doxofylline (SR) And Montelukast (400mg+10mg)</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1499.00</p>
          <p>Speciality: Bronchodilator & Anti-asthma</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Doxol AM</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Doxofylline And Ambroxol Hydrochloride (30mg+400mg)
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2100.00</p>
          <p>Speciality: Bronchodilator & Anti-asthma</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Amborex Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Ambroxol HCL 30 mg, Terbutaline Sulphate 2.5 mg &
            Guaiphensin 100 mg, Ambroxol HCL 30 mg,Terbutaline Sulphate 2.25
            Guaiphensin 100 mg Menthol
          </p>
          <p>
            Pack: 60ML With Carton, 60 ML Without carton, 100ML With Carton,
            100ML Without Carton
          </p>
          <p>MRP: 52.00 - 79.00</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Amborex LS</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Ambroxol , Guaiphensin I.P. 50 mg, Levosalbutamol 1 mg,
            Ambroxol HCL 30 mg,Levosalbutamol Sulphate 1mg & Guaiphensin 50 mg.
          </p>
          <p>Pack: 60ML With Carton, 100ML With Carton</p>
          <p>MRP: 58.00, 80.00</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Coffka DMR / Kofdip DMR</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Dextromethorphen Hydrobromide 10 mg + Chlorphenrimine
            maleate 2 mg + Phenylephrine Hydrochloride 5 mg.
          </p>
          <p>Pack: 100ML Without Carton</p>
          <p>MRP: 69.9</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Coffka DMR / Junior Kofdip / DMR Junior</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Dextromethorphen Hydrobromide 10 mg + Chlorphenrimine
            maleate 2 mg + Phenylephrine Hydrochloride 5 mg.
          </p>
          <p>Pack: 60ML With Carton</p>
          <p>MRP: 49.5</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Bromlit Plus / Brovel Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Terbutaline Sulphate 1.25 mg Bromhexine Hydrochloride 2
            mg, Guaiphenesin 50 mg, Menthol 0.5 mg.
          </p>
          <p>Pack: 100ML With Carton</p>
          <p>MRP: 79.00</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Cheerdryl</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition:Diphenhydramine Hydrochloride IP 12.5 mg + Ammonium
            Chloride IP 100 mg + Sodium Citrate IP 50 mg + Menthol IP 1 mg
          </p>
          <p>Pack: 100ML Without Carton</p>
          <p>MRP: 59.9</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexal 120</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Fexofenadine I.P. 120 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 985.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexal 180</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Fexofenadine I.P. 180 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1295.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexal M</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Fexofenadine HCL 120 mg & Montelukast Sodium 10 mg
            Chewable
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1150.00</p>
          <p>Speciality: Dermotology / Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Koldo Plus / Coldip Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Paracetamol, Phenylephrine Hydrochloride,
            Diphenhydramine Hydrochloride And Caffeine (500+5+25+30mg)
          </p>
          <p>Pack: 20x10 BLI</p>
          <p>MRP: 1100.00</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Koldo Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>
            Composition: Paracetamol 250 mg + Phenylephrine Hydrochloride &
            Chlorpheniramine Maleate 2 mg + Sodium Citrate + Ammonium Chloride +
            Menthol
          </p>
          <p>Pack: 60 ML</p>
          <p>MRP: 55</p>
          <p>Speciality: Anticold & Anticough</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Neoline</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Nasal Drop</p>
          <p>Composition: Sodium chloride 0.65 % w/v</p>
          <p>Pack: 10 ML</p>
          <p>MRP: 59.9</p>
          <p>Speciality: Nasal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zilova 5</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Levocetirizine Hydrochloride I.P. 5 mg.</p>
          <p>Pack: 20*10 BLI</p>
          <p>MRP: 560.00, 280.00, 1120.00</p>
          <p>Speciality: Antihisamine</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zilova M</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Levocetirizine 5mg + Montelukast 10 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 990.00, 1250.00</p>
          <p>Speciality: Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zilova M Kid</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet, Suspension</p>
          <p>
            Composition: Levocetirizine 2.5mg + Dihydrochloride Montelukast 4
            mg, Levocetirizine 2.5mg + Montelukast 5mg per 5 ML
          </p>
          <p>Pack: 10*10 ALU, 60 ML</p>
          <p>MRP: 699.00, 72.00</p>
          <p>Speciality: Antihistamine & Antiallergic</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zyline P</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Nasal Drops</p>
          <p>
            Composition: Xylometazoline HCL. 0.5%, Nasal spray for Pedriatric
            use
          </p>
          <p>Pack: 10 ML</p>
          <p>MRP: 41.00</p>
          <p>Speciality: Nasal</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zyline</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="../../../assets/img/team1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Nasal Drops</p>
          <p>Composition: Xylometazoline HCL. I.P. 0.1 % w/v</p>
          <p>Pack: 10 ML</p>
          <p>MRP: 54.5</p>
          <p>Speciality: Nasal</p>
          <p>GST: 12%</p>
        </div>
      </div>
    </div>
  </div>

  <!-- product list ends -->
</div>

<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
