<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Nephrology / Urology</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a href="/">HOME</a></li>
      <li><a href="/Products">Products</a></li>
      <li>Nephrology</li>
    </ul>
  </div>
  <!-- product list starts -->

  <div class="container">
    <div class="row mt-50 mb-50">
      <button class="accordion">Citroel</button>
      <div class="panel">
        <p>Type: Syrup</p>
        <p>Composition: Disodium Hydrogen Citrate syrup 1.25gm</p>
        <p>Pack: 100 ml</p>
        <p>MRP: 49.90, 74.9</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Flocont</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Tamsulosin 0.4 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 749.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Flocont Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Tamsulosin 0.4 mg + Dutasteride 0.5 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1690.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fabura 40</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Febuxostat 40mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 799.00, 950.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Fabura 80</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Febuxostat 80mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1799.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Silotate 4</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Silodosin 4 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 1599.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Silotate 8</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Silodosin 8 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 2899.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Silotate Plus</button>
      <div class="panel">
        <p>Type: Tablet</p>
        <p>Composition: Silodosin 8 mg + Dutasteride 0.5 mg</p>
        <p>Pack: 10*10 ALU</p>
        <p>MRP: 3200.00</p>
        <p>Speciality: Nephrology/Urology</p>
        <p>GST: 12%</p>
      </div>

      <button class="accordion">Dumodox LB</button>
      <div class="panel">
        <p>Type: Capsule</p>
        <p>Composition: Doxycycline Lactic Acid Bacilus</p>
        <p>Pack: 10*10 BLI</p>
        <p>MRP: 998.00</p>
        <p>Speciality: Antibiotic & Antibacterial</p>
        <p>GST: 12%</p>
      </div>
    </div>
  </div>

  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
