<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Products</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li >
        <a routerLink="">HOME</a></li>
      <li><a (click)="changeRouteTo(['/', 'Products','About'])">ABOUT US</a></li>
      <li>Products</li>
    </ul>
  </div>
  <section id="content">
    <div class="container content">
      <!-- Service Blcoks -->

      <div class="row mb-50">
        <div class="col-md-12">
          <div class="about-logo">
            <h3>Products Portfolio</h3>
            <p>
              Wonne International offers WHO-GMP Certified Products. Our
              pharmaceutical manufacturing is done in ISO 9001:2015 Certified
              plants. We manufacture over 500 products and covers all major
              therapeutic segments. Our complete pharmaceutical manufacturing is
              done in ISO 9001:2015 Certified plants.
            </p>
            <p>
              We strive to provide latest molecules with higher efficacy and
              quality being the common aspect of all our products to our
              consumers.We offers a wide range of dosage forms that include
              Tablets, Capsules, Softgel Capsules, Injectables, Syrups, Dry
              Syrups, drops, Ointments, Gels, Creams, Oils, Lotions, granules
              and powder.
            </p>
            <p>
              We provide the complete range of latest Pharma Products. Our
              product range covers the following segments:
            </p>
          </div>
        </div>
      </div>

      <!-- Info Blcoks -->
      <div class="row ">
        <div class="col-sm-4 info-blocks">
          <!-- <i class="icon-info-blocks fa fa-bell-o"></i> -->
          <a routerLink="Analgesics" class="info-blocks-in">
          <div class="text">
            <h3><a  class="Custom">ANALGESICS</a></h3>
            <p>
              An analgesic or painkiller is any member of the group of drugs
              used to achieve analgesia, relief from pain.
            </p>
          </div>
        </a>
        </div>
        <div class="col-sm-4 info-blocks">
          <!-- <i class="icon-info-blocks fa fa-hdd-o"></i> -->
          <a routerLink="Osteoporosis"class="info-blocks-in">
          <div class="text">
            <h3>
              <a  class="Custom">ANTI OSTEOPOROSIS</a>
            </h3>
            <p>
              These are the drugs use to prevent Osteoporosis which is a bone
              disorder that increases a person's risk of fracture.
            </p>
          </div>
        </a>
        </div>
        <div class="col-sm-4 info-blocks ">
          <!-- <i class="icon-info-blocks fa fa-lightbulb-o"></i> -->
          <a routerLink="Allergics" class="info-blocks-in ">

          <div class="text ">
            <h3><a  class="Custom">ANTI ALLERGICS</a></h3>
            <p>
             Anti Allergics are used to prevent an allergic response : tending to relieve or
              control allergic symptoms. 
            </p>
          </div>
        </a>

        </div>
      </div>
      <!-- End Info Blcoks -->

      <!-- Info Blcoks -->
      <div class="row ">
        <div class="col-sm-4 info-blocks">
          <a routerLink="Antibiotics" class="info-blocks-in">
            <div class="text">
            <h3><a  class="Custom">ANTIBIOTICS</a></h3>
            <p>
              An antibiotic is a type of antimicrobial substance including a
              range of powerful drugs that kill bacteria or slow their growth.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Pediatrics" class="info-blocks-in">
            <div class="text">
            <h3><a class="Custom">PEDIATRICS</a></h3>
            <p>
              Pediatrics is the branch of medicine that involves the medical
              care of diseases ( infants, children, and adolescents).
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Gatroenterology" class="info-blocks-in">
            <div class="text">
            <h3>
              <a class="Custom"
                >GASTROENTEROLOGY</a
              >
            </h3>
            <p>
              Diseases affecting the gastrointestinal tract, which include the
              organs from mouth into anus, along the alimentary canal.
            </p>
          </div>
        </a>

        </div>
      </div>
      <!-- End Info Blcoks -->

      <!-- Info Blcoks -->
      <div class="row">
        <div class="col-sm-4 info-blocks">
          <a routerLink="Critical-care" class="info-blocks-in">
            <div class="text">
            <h3>
              <a  class="Custom">CRITICAL CARE</a>
            </h3>
            <p>
              Critical care medicine or intensive-care medicine, a branch of
              medicine concerned with life support for critically ill patients.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Gynaecology" class="info-blocks-in">
            <div class="text">
            <h3><a class="Custom">GYNAECOLOGY</a></h3>

            <p>
              Medical practice dealing with the health of the female
              reproductive system (vagina, uterus, and ovaries).
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Dermatology" class="info-blocks-in">
            <div class="text">
            <h3><a  class="Custom">DERMATOLOGY</a></h3>
            <p>
              Dermatology is the branch of medicine dealing with the skin. It is
              a speciality with both medical and surgical aspects.
            </p>
          </div>
        </a>

        </div>
      </div>
      <!-- End Info Blcoks -->

      <!-- Info Blcoks -->
      <div class="row">
        <div class="col-sm-4 info-blocks">
          <a routerLink="Neurology" class="info-blocks-in">
            <div class="text">
            <h3><a  class="Custom">NEUROLOGY</a></h3>
            <p>
              Deals with the diagnosis and treatment of all categories of
              conditions and disease involving the central and peripheral
              nervous systems.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Steroids" class="info-blocks-in">
            <div class="text">
            <h3><a  class="Custom">STEROIDS</a></h3>
            <p>
              Steroids are a man-made version of chemicals, known as hormones,
              that are made naturally in the human body.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Diabetology" class="info-blocks-in">
            <div class="text">
            <h3><a class="Custom">DIABETOLOGY</a></h3>
            <p>
              Diabetology is the clinical science of the specialised diabetes mellitus, its
              diagnosis, treatments and follow-ups.
            </p>
          </div>
        </a>

        </div>
      </div>
      <!-- End Info Blcoks -->

      <!-- Info Blcoks -->
      <div class="row">
        <div class="col-sm-4 info-blocks">
          <a routerLink="Hepatology"  class="info-blocks-in">
            <div class="text">
            <h3><a class="Custom">HEPATOLOGY</a></h3>
            <p>
              Branch of medicine specializing in the diagnosis and treatment of
              the liver's various functions, abnormalities, and diseases.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Antimalarial" class="info-blocks-in">
            <div class="text">
            <h3>
              <a  class="Custom">ANTIMALARIAL</a>
            </h3>
            <p>
              Antimalarials are a type of antiparasitic chemical agent, often
              naturally derived used to prevent and treat malaria.
            </p>
          </div>
        </a>

        </div>
        <div class="col-sm-4 info-blocks">
          <a routerLink="Een" class="info-blocks-in">
            <div class="text">
            <h3><a  class="Custom">EYE / EAR / NASAL</a></h3>
            <p>
              Developed after extensive research a wide range of ear / eye /
              nasal drops high in effectiveness and provide quick relief.
            </p>
          </div>
        </a>

        </div>
      </div>
      <!-- End Info Blcoks -->

      <!-- Info Blcoks -->
      <div class="row mb-50">
        <div class="col-sm-4 info-blocks">
          <a routerLink="Nephrology" class="info-blocks-in">
            <div class="text">
            <h3>
              <a class="Custom"
                >NEPHROLOGY / UROLOGY
              </a>
            </h3>
            <p>
              Branch of medicine that focuses on surgical and medical diseases
              of the male and female urinary-tract system.
            </p>
          </div>
        </a>

        </div>
      </div>
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>