<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">
            Anti Osteoporosis / Nutraceuticals / Iron / General Health
          </h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Anti-Osteoporosis</li>
    </ul>
  </div>
  <!-- product list starts-->

  <div class="container">
    <div class="row mt-50 mb-50">

      <!-- <button class="accordion">Calmax</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Calcium Citrate 1000 mg Magnesium Hydroxide 100 mg, Zinc
            4 mg & Vitamin D3 200 I.U.
          </p>
          <p>Pack: 10*15 BLI (Milky)</p>
          <p>MRP: 999.00</p>
          <p>Speciality: Calcium / Vitamin</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Calmax Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/calmax-plus.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>
            Composition: Calcium ,Methylcobalamin,Calcitriol,Folic acid,Pyridoxine
            Hcl and Zinc (250mg+500mcg+0.25mcg+1.5mg+3mg+7.5mg)
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1799.00</p>
          <p>Speciality: Calcium / Multivitamin & Multimineral</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Kalci Forte Bomcal</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/kalci-forte.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Calcium carbonate 1250 mg, elemental calcium 500 mg,
            vitamin D3 250 IU.
          </p>
          <p>Pack: 10*15 BLI (Silver)</p>
          <p>MRP: 799.00 - 890.00</p>
          <p>Speciality: Calcium / Vitamin</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Calfirm Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/calfirm-plus.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Calcium Citrate 500mg, Calcitriol 0.25mcg,, Zinc 7.5 mg.
          </p>
          <p>Pack: 10*10</p>
          <p>MRP: 1260.00</p>
          <p>Speciality: Calcium & Vitamins</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Calfirm K27</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/calfirm-k27.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Calcium Carbonate 500 mg, Calcitriol 0.25 mcg, vitamin
            K27 45 mcg, Zinc 7.5 mg, Magnesium 20 mg, Methylcobalamin 1500 mcg.
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 1799.00</p>
          <p>Speciality: Calcium & Vitamins</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Corefirm Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Coral Calcium 500 mg + Methylcobalamin 1500 mcg +
            Pyridoxil 5 + Vitamin D3 1000 IU + L-Methyl folate 1mg
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 2100.00</p>
          <p>Speciality: Calcium & Vitamins</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fervin XT</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Ferrous Ascorbate + Folic Acid + Zinc</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1250.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fervin XT Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/fervin-xt-plus.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Ferrous Ascorbate, Folic Acid, Methylcobalamin & Zinc
            (100+1.5+1500+22.5mg)
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1899.00</p>
          <p>Speciality: Neurology/ Vitamins / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fervin</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>Composition: Ferrous Ascorbate 30 mg + Folic Acid 550 mg</p>
          <p>Pack: 150 ML</p>
          <p>MRP: 125.00 - 165.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Qonzy Forte</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Coenzyme Q10 100 mg,Methylcobalamin 1500 mcg, +
            L-Carntine,L-Tartrate 50 mg + L-Arginere 100 mg + Lycopene 6 % 4000 mg
            + Selenium Dioxide 100 mg + Omega 3 Fatty Acid 150 mg
          </p>
          <p>Pack: 3*10</p>
          <p>MRP: 1200.00</p>
          <p>
            Speciality: Cardiovascular / Multivitamin & Multimineral / General
            Health
          </p>
          <p>GST: 18%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Nervabin Forte</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Benfotiamine 150 mg + Methylcobalamin 1500 mcg + Inositol
            150 mg + Alpha Lipoic Acid 100 mg + Chromium 200 mg
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 2100.00</p>
          <p>Speciality: Neurology / Multivitamin & Multimineral</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Brighten D3</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/brighten-d3-cap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Sachet</p>
          <p>Composition: Vitamin D3 60,000 IU Or Cholecalciferol Sachet</p>
          <p>Pack: 10 *1 Sachet</p>
          <p>MRP: 300.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Brighten D3 Shots</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Shots</p>
          <p>
            Composition: Cholecalciferol 60,000 IU shots (Mango & Butterscotch)
          </p>
          <p>Pack: 4 bottles of 5 ml each</p>
          <p>MRP: 280.00</p>
          <p>Speciality: Calcium</p>
          <p>GST: 18%</p>
        </div>
      </div> -->

      <button class="accordion">Supralex</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/supralex-cap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: A Complete Antioxidant + Biotin with 24 Vitamins &
            Minerals
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 1400.00</p>
          <p>
            Speciality: Multivitamin & Multimineral / General Health / Hair care
          </p>
          <p>GST: 18%</p>
        </div>
      </div>

      <button class="accordion">Lycum Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/lycum-plus-cap.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Lycopene 5000mcg + L-Arginine + Beta Carotene + Grape
            Seed Extract 10mg+Vitamins & Minearals
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 1499.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <!-- <button class="accordion">Lycum Lycorys</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Lycopene 10% 10mg, Grape Seed Extract 10 mg, Vitamins &
            Minerals
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 1250.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Lycorys Lycum</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/lycorys-syrup.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>Composition: Lycopene, Vitamin & Zinc Syrup</p>
          <p>Pack: 200 ml with carton</p>
          <p>MRP: 148.5</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Lycum Optica</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/lycorys-optica.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>
            Composition: Betacarotene, Lycopene, Anti-Oxidants, Multi-Vitamins &
            Multiminerals Capsules
          </p>
          <p>Pack: 10x10 ALU</p>
          <p>MRP: 1250.00</p>
          <p>Speciality: Multivitamin & Multimineral</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <!-- <button class="accordion">Bravura 5G / Bravuron 5G</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Soft Gel Cap</p>
          <p>
            Composition: Omega 3-Fatty Acid, Green Tea Extract, Ginkgo Biloba,
            Ginseng, Grape seed Extract, Antioxidants, Vitamins & Minerals (DRUG)
          </p>
          <p>Pack: 10*1*10</p>
          <p>MRP: 1990.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Kalci forte Bomcal</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Calcium Carbonate 625 mg +Zinc 2 mg + Vitamin D3 200 I.U
            + Magnesium Hydroxide 180 mg
          </p>
          <p>Pack: 200 ML. With Carton</p>
          <p>MRP: 98.5</p>
          <p>
            Speciality: Calcium / Multivitamin & Multimineral / General Health
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Hoopla</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/hoopla-powder.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>
            Composition: Dextrose With Zinc ,Magnesium,Methylcobalamin &
            Creatine
            Energy Booster Drink (Orange Flavour)
          </p>
          <p>Pack: 105 GM</p>
          <p>MRP: 69.00</p>
          <p>Speciality: Vitamin & Glucose Energy Drink</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <button class="accordion">Frisk SF</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/frisk.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>
            Composition: Protein With Vitamins,Minerals & Cyanocobalamin,With
            DHA
            Chocolate flavour (SUGAR FREE )
          </p>
          <p>Pack: 200 GM</p>
          <p>MRP: 299.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <!-- <button class="accordion">Frisk</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Powder</p>
          <p>
            Composition: Protein With Vitamins,Minerals &
            Cyanocobalamin,With DHA
            ( Chocolate flavour)
          </p>
          <p>Pack: 200 GM</p>
          <p>MRP: 280.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 18%</p>
        </div>
      </div> -->

      <button class="accordion">A9 Super</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/a9-super.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Sachet</p>
          <p>Composition: L-Arginine IP 3 gm + Proanthyanidin 75 mg</p>
          <p>Pack: 10*5GM</p>
          <p>MRP: 450.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">QG- M</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/anti-osteoporosis/qg-m.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Ginkgo Biloba 10 mg + Methylcobalamin 1500 mcg
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 800.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health
          </p>
          <p>GST: 18%</p>
        </div>
      </div>
    </div>
  </div>
  <!-- product list ends -->
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
