<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Antibiotics & AntiBacterials</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Antibiotics</li>
    </ul>
  </div>
  <!-- product list starts-->
  <div class="container">
    <div class="row mt-50 mb-50">

      <button class="accordion">Zozith 250 / Aziva 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/zozith-250.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Azithromycin 250 mg</p>
          <p>Pack: 10*6 BLI</p>
          <p>MRP: 694.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zozith 500 / Aziva 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/zozith-500.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Azithromycin 500 mg</p>
          <p>Pack: 10*3 BLI</p>
          <p>MRP: 700.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Clarith 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/clarith-250.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Clarithromycin I.P. 250 mg</p>
          <p>Pack: 10*6 ALU</p>
          <p>MRP: 1745.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Clarith 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Clarithromycin I.P. 500 mg</p>
          <p>Pack: 10*6 ALU</p>
          <p>MRP: 3000.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Keftrum 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/keftrum-250.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefuroxime Axetil I.P. 250 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2499.00, 2999.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Keftrum 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/keftrum-500-tab.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefuroxime Axetil I.P. 500 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 4800.00, 5500.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Keftrum CV</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/keftrum-cv-tab.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Cefuroxime Axetil 500 mg + Potassium Clavulante I.P. 125
            mg
          </p>
          <p>Pack: 10*6 ALU</p>
          <p>MRP: 3900.00, 4600.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxival-250.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Amoxycillin 250 mg. Dispersible I.P.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 498.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival CV 375</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxivel-625.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Amoxycillin & Potassium 250 mg + Clavulanate Acid 125 mg.
          </p>
          <p>Pack: 10*6 STRIP</p>
          <p>MRP: 1260.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival CV 625</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxival-cv-625.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Coenzyme Q10 100 mg,Methylcobalamin 1500 mcg, +
            L-Carntine,L-Tartrate 50 mg + L-Arginere 100 mg + Lycopene 6 % 4000 mg
            + Selenium Dioxide 100 mg + Omega 3 Fatty Acid 150 mg
          </p>
          <p>Pack: 10*1*6 STRIP</p>
          <p>MRP: 1880.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival CV 625 LB</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxival-cv-625-lb.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Amoxycillin 500mg + Potassium Clavulanate 125mg. LB</p>
          <p>Pack: 10*1*6 STRIP</p>
          <p>MRP: 1600.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxival-500.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Amoxycillin 500 mg</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 678.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Moxival DX LB</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/moxival-dx-lb.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>
            Composition: Amoxycillin 250 mg + Di-Cloxacillin 250 mg Lactid Acid
            Bacillus 2.5 Million Spores
          </p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 1100.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fexival 100</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefixime D.T. 100 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 845.00, 849.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fexival 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/floxiva-200.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefixime D.T. 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1009.00, 1091.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Fexival 200 LB</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/fexival-200LB.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefixime 200mg (Lactic Acid Bacillus D.T.)</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1499.00, 1599.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexival O</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/fexival-o-tabs.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefixime 200 mg.+ Ofloxacin 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1900.00, 1390.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexival CV</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/fexival-cv.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefixime Potassium 200 mg.+ Clavulanate Acid 125 mg.</p>
          <p>Pack: 10*6 ALU</p>
          <p>MRP: 1545.00, 1999.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fexival AZL</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>
            Composition: Cefixime 200 mg + Azithromycin 500 mg Lactic Acid
            Bacillus
          </p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2499.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Fexival DC</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Cefixime 200 mg + Dicloxacillin 500 mg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2100</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Wonfar 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Faropenem Sodium 200 mg.</p>
          <p>Pack: 10*1*6 ALU</p>
          <p>MRP: 5999.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Wonfar 300 SR</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Faropenem Sodium 300 Sustained release</p>
          <p>Pack: 10*1*6 ALU</p>
          <p>MRP: 7999.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Tilpod 100 DT</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefpodoxime Proxetil Dispersible 100 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 990.00, 1098.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Tilpod 200 / Avepod 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/tilpod-200.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefpodoxime Proxetil Dispersible 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2198.00, 1490.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Tilpod CV / Avepod CV</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/tilpod-cv-tab.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefpodoxime 200 mg + Clavulanic Acid 125 mg
          </p>
          <p>Pack: 10*1*6 ALU</p>
          <p>MRP: 2280.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Tilpod O / Avepod O</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cefpodoxime 200mg + Ofloxacin 200mg</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 2690.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Kavlex 250</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Cephalexin Dispersible 250 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 799.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Kavlex 500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Cephalexin I.P. 500 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1345.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Volflox 500 / Lenova
        500</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/volfox-500.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Levofloxacin 500 mg.</p>
          <p>Pack: 20*5 BLI</p>
          <p>MRP: 820.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Volflox OZ / Lenova
        OZ</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/voflox-oz.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Levofloxacin and Ornidazole Tablets
            (250mg+500mg)</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1699.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Ziolin 600</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/ziolin-600.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Linezolid 600 mg.</p>
          <p>Pack: 10*1*4 ALU</p>
          <p>MRP: 1440.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Ziolin CF</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Linezolid 600 mg + Cefixime 200
            mg.</p>
          <p>Pack: 10*6 ALU</p>
          <p>MRP: 3400.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Floxiva 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/floxiva-200.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Ofloxacin I.P. 200 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 560.00, 583.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Floxiva OZ</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/floxiva-oz.JPG" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Ofloxacin 200 mg +
            Ornidazole 250 mg.</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 1350.00, 950.00, 1250.00</p>
          <p>Speciality: Antibiotic & Antibacterial
          </p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Cipcef TZ</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Ciprofloxacin 500 mg &
            Tinidazole 600 mg</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 985.00</p>
          <p>Speciality: Antibiotic & Antibacterial
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Clindor
        300</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Clindamycin I.P. 300 mg.
          </p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 2250.00, 2427.00</p>
          <p>Speciality: Antibiotic &
            Antibacterial/Dermatology</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Praiva
        400</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/praiva-400.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Moxifloxacin 400 mg.
          </p>
          <p>Pack: 10*5 BLI</p>
          <p>MRP: 1388.00</p>
          <p>Speciality: Antibiotic &
            Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Praiva
        CF</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Moxifloxacin 400mg +
            Cefixime 400 mg.</p>
          <p>Pack: 5*10 ALU</p>
          <p>MRP: 2900.00</p>
          <p>Speciality: Antibiotic &
            Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Dumodox
        LB</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Capsule</p>
          <p>Composition: Doxycycline Lactic
            Acid Bacilus</p>
          <p>Pack: 10*10 BLI</p>
          <p>MRP: 998.00</p>
          <p>Speciality: Antibiotic &
            Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Rifexil
        200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Rifaximin 200
            mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 1699.00</p>
          <p>
            Speciality: Antibiotic &
            Antibacterial (Diarrhea,
            Irritable bowel
            syndrome and hepatic
            encephalopathy)
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Rifexil
        400</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Rifaximin 400
            mg.p></p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 3200.00</p>
          <p>
            Speciality: Antibiotic &
            Antibacterial (Diarrhea,
            Irritable bowel
            syndrome and hepatic
            encephalopathy)
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Rifexil
        550</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/rifexil-550.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Rifaximin
            550 mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 3899.00</p>
          <p>
            Speciality: Antibiotic &
            Antibacterial (Diarrhea,
            Irritable bowel
            syndrome and hepatic
            encephalopathy)
          </p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Furadin
        100 SR</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/antibiotics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition:
            Nitrofurantoin (SR) 100
            mg.</p>
          <p>Pack: 10*10 ALU</p>
          <p>MRP: 790.00</p>
          <p>
            Speciality: Antibiotic &
            Antibacterial (UTI,
            Bladder & Kidney
            Infections)
          </p>
          <p>GST: 12%</p>
        </div>
      </div> -->

    </div>
  </div>

  <a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
