<div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Pediatrics</h2>
        </div>
      </div>
    </div>
  </section>
  <div id="breadcrumb">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li><a href="/Products">Products</a></li>
      <li>Pediatrics</li>
    </ul>
  </div>
  <!-- product list starts-->

  <div class="container">
    <div class="row mt-50 mb-50">

      <!-- <button class="accordion">Moxival CV 228.5</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Amoxycillin 200 mg +Potassium Clavulanate Acid 28.50 mg
            with water
          </p>
          <p>Pack: 30 ML</p>
          <p>MRP: 59.47</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Moxival CV 457</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/moxival-cv-457.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Amoxycillin 400 mg.+ Potassium Clavulanate Acid 57 mg.
            with Water
          </p>
          <p>Pack: 30 ML</p>
          <p>MRP: 69.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Fexival O</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/fexival-lb.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Cefixime 50 mg + Ofloxacin 50 mg with Water</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 72.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Fexival CV</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Cefixime 50 mg.+ Potassium Clavulanate Acid 31.25 mg.
            with Water
          </p>
          <p>Pack: 30 ML</p>
          <p>MRP: 110.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Tilpod 50/Avepod 50</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/tilpod-50.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Cefpodoxime 50 mg with Water</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 84.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Tilpod 100 / Avepod 100</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/tilpod-100.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Cefpodoxime 100 mg with water</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 115.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Tilpod CV</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Cefpodoxime 50 mg + Clavulanic Acid 28.50mg with Water
          </p>
          <p>Pack: 30 ML</p>
          <p>MRP: 110.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Tilpod CV Extra</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/tilpod-cv-extra.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Cefpodoxime 100 mg + Clavulanic Acid 57 mg with Water
          </p>
          <p>Pack: 30 ML</p>
          <p>MRP: 144.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Ziolin</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Linezolid with Water</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 149.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Keftrum</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Cefuroxime Oral Suspension USP 125mg</p>
          <p>Pack: With Carton</p>
          <p>MRP: 149.8</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Tozyme Plus</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>
            Composition: Lactobacillus & Enzyme Fortified with B-Complex,
            L-Lysine, Folic Acid & Simethicone with Water
          </p>
          <p>Pack: 60 ML</p>
          <p>MRP: 79.5</p>
          <p>Speciality: Enzymatic and General Health</p>
          <p>GST: 18%</p>
        </div>
      </div> -->

      <button class="accordion">Wongut P</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/wongut-p.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Domperidone & Paracetamol (20 mg+325 mg)</p>
          <p>Pack: 20x10 BLI</p>
          <p>MRP: 640.00</p>
          <p>Speciality: Antiemetic, Pain & Fever Reducer</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Anso 15</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/anso-15.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Tablet</p>
          <p>Composition: Lansoprazole Orally Disintegrating 15 mg</p>
          <p>Pack: 10x10 ALU</p>
          <p>MRP: 699.00</p>
          <p>Speciality: Antiulcer (Antacid) and GERD</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zozith 100 / Aziva 100</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/zozith-100.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Azithromycin 100 mg.</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 59.42</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Zozith 200</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/zozith-200.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Azithromycin 200 mg.</p>
          <p>Pack: 30 ML</p>
          <p>MRP: 99.48</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Brighten D3</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/brighten-d3-drops.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Drops</p>
          <p>Composition: Cholecalciferol 60,000 IU</p>
          <p>Pack: 30 ML WITH DROPPER</p>
          <p>MRP: 105.00</p>
          <p>Speciality: Calcium</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <!-- <button class="accordion">Clarith 125</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Dry Syrup</p>
          <p>Composition: Clarithromycin Oral 125mg</p>
          <p>Pack: 30 ml with Carton</p>
          <p>MRP: 139.5</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Multival (Drug)</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>Composition: Multivitamins, Multimineral Antioxidants</p>
          <p>Pack: 200 ML</p>
          <p>MRP: 124.9</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Multival (Food)</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/multival-food.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>Composition: Multivitamins, Multimineral Antioxidants</p>
          <p>Pack: 200 ML</p>
          <p>MRP: 89.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 18%</p>
        </div>
      </div>

      <!-- <button class="accordion">Limbion</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Thiamine Hcl. 10mg.+Pyridoxine Hcl. 3mg.+ Cyanocobalamine
            15mcg.+D Panthenol 5mg.+ L Lysine Hcl. 150 mg. Syrup
          </p>
          <p>Pack: 200 ML. With Carton</p>
          <p>MRP: 85.00</p>
          <p>Speciality: Multivitamin & Multimineral / General Health</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Hungest / Hungrow</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/hungest.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Cyproheptadine Hcl 2 mg,Tricholine Citrate 275 mg per
            5ml
          </p>
          <p>Pack: 200 ML</p>
          <p>MRP: 89.00</p>
          <p>Speciality: Appetite Booster</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Floxiva MS</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/floxiva-ms.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>
            Composition: Ofloxacin ,Metronidazole & Simethicone
            Suspension(50mg+120mg+10mg)
          </p>
          <p>Pack: 60 ml with carton</p>
          <p>MRP: 72.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <button class="accordion">Floxiva M</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/floxiva-m.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Ofloxacin and Metronidazole Suspension(50mg+100mg)
          </p>
          <p>Pack: 30 ml with carton</p>
          <p>MRP: 53.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div>
<!--
      <button class="accordion">Floxiva R</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>
            Composition: Ofloxacin and Racecadotril oral
            Suspension(50mg+50mg)
          </p>
          <p>Pack: 30 ML with carton</p>
          <p>MRP: 82.00</p>
          <p>Speciality: Antibiotic & Antibacterial</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Ondival</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Ondansetron Hydrochloride Oral Solution IP 4mg
          </p>
          <p>Pack: 30 ML with carton</p>
          <p>MRP: 35.61</p>
          <p>Speciality: Antiemetic</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <!-- <button class="accordion">Dezko / Cortidel</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Deflazacort 6 mg.</p>
          <p>Pack: 30ml with carton</p>
          <p>MRP: 74.9</p>
          <p>Speciality: Anti-Inflammatory and Immunosuppressant.</p>
          <p>GST: 12%</p>
        </div>
      </div> -->

      <button class="accordion">Benmoil</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/benoil.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Suspension</p>
          <p>Composition: Albendazole IP 200 mg Oral Suspension</p>
          <p>Pack: 10ml with carton</p>
          <p>MRP: 16.8</p>
          <p>Speciality: Parasitic worm infestations</p>
          <p>GST: 12%</p>
        </div>
      </div>

      <!-- <button class="accordion">Tozyme</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>
            Composition: Fungal Diastase & Papain Syp - Digestive
            Enzyme, Saunf
            Cardamom
          </p>
          <p>Pack: 200 ML. With Carton</p>
          <p>MRP: 85.00, 105.00</p>
          <p>Speciality: Digestion / Enzymatic</p>
          <p>GST: 18%</p>
        </div>
      </div> -->

      <button class="accordion">Avaliv</button>
      <div class="panel">
        <div class="col-md-6">
          <img src="assets/img/products/pediatrics/avaliv-syrup.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pt-5">
          <p>Type: Syrup</p>
          <p>Composition: Silymarin With B - Complex Suspension
          </p>
          <p>Pack: 200 ML</p>
          <p>MRP: 120.00</p>
          <p>Speciality: Multivitamin & Multimineral / General
            Health</p>
          <p>GST: 18%</p>
        </div>
      </div>

    </div>
  </div>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
