<div id="wrapper" class="home-page">
  <section id="banner">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
      <ul class="slides">
        <li>
          <img src="assets/img/home/3.jpg" alt="" />
          <div class="flex-caption">
            <h3>WONNE INTERNATIONAL </h3>
            <p>CARING FOR LIFE </p>
          </div>
        </li>
        <li>
          <img src="assets/img/home/2.jpg" alt="" />
          <div class="flex-caption">
            <h3>STRIVING FOR EXCELLENCE </h3>
            <p>BY CHALLENGING THE INDUSTRY STANDARDS</p>
          </div>
        </li>
        <li>
          <img src="assets/img/home/1.jpg" alt="" />
          <div class="flex-caption">
            <h3>MAKING LIVES BETTER</h3>
            <p>LEADING THE WAY IN MEDICAL EXCELLENCE.</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- end slider -->
  </section>
  <section id="content">
    <div class="container">
      <section class="services">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <h2 class="aligncenter">Welcome To Wonne International</h2>
              Wonne International is dedicated to work towards making a difference in healthcare system by discovering
              new ways to improve people lives for healthier tomorrow.
            </div>
            <br />
          </div>
        </div>

        <div class="row m-50">
          <div class="col-sm-6 info-blocks">
            <a (click)="changeRouteTo(['/','Wonne-India'])" class="info-blocks-in">
              <div class="text">
                <h3>
                  <a class="Custom">Wonne India</a>
                </h3>

                <div class="line"></div>
                <p>
                  Wonne, as an organization has been built product by product on
                  the foundation of care & concern. Caring for Life and health has
                  always been and continues to remain, our guiding purpose. We aim
                  towards building a better and empowered healthcare system and to
                  be recognised as domestic and internationally integrated
                  pharamaceutical company through innovation, quality and
                  competence...
                  <a (click)="changeRouteTo(['/','Wonne-India'])">Read More</a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-sm-6 info-blocks">
            <a (click)="changeRouteTo(['/','Wonne-International'])" class="info-blocks-in">
              <div class="text">
                <!-- <i class="icon-info-blocks material-icons">perm_identity</i> -->
                <h3>
                  <a class="Custom">Wonne Global</a>
                </h3>
                <div class="line"></div>
                <p>
                  Wonne International is a leading name in pharmaceutical sector. With products that are trusted and
                  well acknowledged name in the pharma franchise business. We bring our high-quality products for
                  people. We nurture success by promoting collaboration, participation and trust within an environment
                  of mutual respect and hence are always looking for individuals to collaborate with as our
                  distributers....
                  <a (click)="changeRouteTo(['/','Wonne-International'])">Read More</a>
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
