<div id="wrapper" class="home-page">
  <section id="banner">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
      <ul class="slides">
        <li>
          <img src="assets/img/home/slide1.jpg" alt="" />
          <div class="flex-caption">
            <h3>Wonne International</h3>
            <p>Leading The Way In Medical Excellence.</p>
          </div>
        </li>
        <li>
          <img src="assets/img/home/Slider2.jpg" alt="" />
          <div class="flex-caption">
            <h3>Making Lives Better</h3>
            <p>Leading The Way In Medical Excellence.</p>
          </div>
        </li>
        <li>
          <img src="assets/img/home/Slider3.jpg" alt="" />
          <div class="flex-caption">
            <h3>Making Lives Better</h3>
            <p>Leading The Way In Medical Excellence.</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- end slider -->
  </section>
  <section id="content">
    <div class="container">
      <section class="services">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <h2 class="aligncenter">Welcome To Wonne International</h2>
          Wonne International is dedicated to work towards making a difference in healthcare system by discovering new ways to improve people lives for healthier tomorrow.
            </div>
            <br />
          </div>
        </div>

        <div class="row m-50">
          <div class="col-sm-6 info-blocks">
            <a 
            (click)="changeRouteTo(['/','Wonne-India'])" 
            class="info-blocks-in">
            <div class="text">
              <h3>
                <a  class="Custom">Wonne India</a>
              </h3>
              
              <div class="line"></div>
              <p>
                Wonne, as an organization has been built product by product on
                the foundation of care & concern. Caring for Life and health has
                always been and continues to remain, our guiding purpose. We aim
                towards building a better and empowered healthcare system and to
                be recognised as domestic and internationally integrated
                pharamaceutical company through innovation, quality and
                competence...
                <a (click)="changeRouteTo(['/','Wonne-India'])">Read More</a>
              </p>
            </div>
          </a>
          </div>

          <div class="col-sm-6 info-blocks">
            <a (click)="changeRouteTo(['/','Wonne-International'])" class="info-blocks-in">
            <div class="text">
              <!-- <i class="icon-info-blocks material-icons">perm_identity</i> -->
              <h3>
                <a  class="Custom">Wonne Global</a>
              </h3>
              <div class="line"></div>
              <p>
                Wonne, as an organization has been built product by product on
                the foundation of care & concern. Caring for Life and health has
                always been and continues to remain, our guiding purpose. We aim
                towards building a better and empowered healthcare system and to
                be recognised as domestic and internationally integrated
                pharamaceutical company through innovation, quality and
                competence...
                <a (click)="changeRouteTo(['/','Wonne-International'])">Read More</a>
              </p>
            </div>
          </a>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"
  ><i class="fa fa-angle-up active"></i
></a>
